/* Begin general styling */
.skip a{
    position: fixed;
    top: -40px;
}

.skip a:focus{
    top: 20px;
}

*:focus{
    border-style: solid;
    border-width: 2px;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #ddd;
    padding: 2em 0em;
    text-align: center;
    /* position: fixed; */
    width: 100%;
}

nav li{
    display:inline;
    padding-right: 2em;
    padding-left: 2em;
}

nav a{
    color: black;
    font-weight: bold;
    text-decoration: none; 
    text-align: center;
}

nav a:focus, nav a:hover {
    text-decoration: wavy;
}

nav .active{
    font-weight: bold;
    text-decoration: underline;
    background-color: #a9a9a9;
}

img{
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

h1{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
}

h2{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    line-height: 1.5em;
}

h3{
    font-weight: bold;
    text-align: left;
    line-height: 1.2em;
}

p{
    margin-bottom: 0.5em;
    line-height: 1.4em;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    padding-top: 2em;
}

/* Begin styling for index.html */

.first_pet, .second_pet, .third_pet, .fourth_pet, .fifth_pet{
    grid-column: 1 / span 2;
    margin-left: 2em;
}

.first_pet_image, .second_pet_image, .third_pet_image, .fourth_pet_image, .fifth_pet_image{
    grid-column: 3 / span 2;
}

.first_pet_image img, .second_pet_image img, .third_pet_image img, .fourth_pet_image img, .fifth_pet_image img{
    box-shadow: -0.5em 0.5em 1.5em gray;
    border: black 0.1em solid;
}

.first_pet_gallery, .second_pet_gallery, .third_pet_gallery, .fourth_pet_gallery, .fifth_pet_gallery{
    grid-column: 1 / -1;
    margin-left: 2.5%;
    border: black 0.1em solid;
    box-shadow: 0.5em 0.5em 1em lightgray inset, -0.5em -0.5em 1em lightgray inset;
    width: 95%;
}

.first_pet_gallery img, .second_pet_gallery img, .third_pet_gallery img, .fourth_pet_gallery img, .fifth_pet_gallery img{
    width: 38%;
}

.second_pet_gallery video{
    width: 38%;
}

.first_pet_gallery h3, .second_pet_gallery h3, .third_pet_gallery h3, .fourth_pet_gallery h3, .fifth_pet_gallery h3{
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 0em;
}

/* Begin styling for travel.html */

.first_travel_heading, .second_travel_heading, .third_travel_heading, .fourth_travel_heading, .fifth_travel_heading, .sixth_travel_heading{
    grid-column:1 / -1;
}

.first_travel_heading h3, .second_travel_heading h3, .third_travel_heading h3, .fourth_travel_heading h3, .fifth_travel_heading h3, .sixth_travel_heading h3{
    text-align: center;
}

.first_travel_images, .second_travel_images, .third_travel_images, .fourth_travel_images, .fifth_travel_images, .sixth_travel_images{
    grid-column: 1 / -1;
    width: 100%;
}

.first_travel_images img, .second_travel_images img, .third_travel_images img, .fourth_travel_images img, .fifth_travel_images img, .sixth_travel_images img{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    box-shadow: 0.5em 0.8em 1.5em gray;
}

.static_gif{
    display: none !important;
}



@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }

     .motion_gif{
        display: none !important;
     }

     .static_gif{
        display: block !important;
     }
}

.first_travel_text, .second_travel_text, .third_travel_text, .fourth_travel_text, .fifth_travel_text, .sixth_travel_text{
    grid-column: 1 / -1;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 1.4em;
    text-align: justify;
}

.first_travel_gallery, .second_travel_gallery, .third_travel_gallery, .fourth_travel_gallery, .fifth_travel_gallery, .sixth_travel_gallery{
    grid-column: 1 / -1;
}

.first_travel_gallery h3, .second_travel_gallery h3, .third_travel_gallery h3, .fourth_travel_gallery h3, .fifth_travel_gallery h3, .sixth_travel_gallery h3{
    margin-left: 2em;
}

.first_travel_gallery img, .second_travel_gallery img, .third_travel_gallery img, .fourth_travel_gallery img, .fifth_travel_gallery img, .sixth_travel_gallery img{
    margin-bottom: 0em;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0.75em -0.75em 1em lightgray;
}

.first_travel_gallery figcaption, .second_travel_gallery figcaption, .third_travel_gallery figcaption, .fourth_travel_gallery figcaption, .fifth_travel_gallery figcaption, .sixth_travel_gallery figcaption{
    text-align: center;
    padding: 1em;
}

/* Begin styling for recipes.html */

div{
    grid-column: auto;
}

.first_recipe_heading, .second_recipe_heading, .third_recipe_heading{
    grid-column: 1 / -1;
}

.first_recipe_brief, .second_recipe_brief, .third_recipe_brief{
    grid-column: 1 / -1;
}

.first_recipe_brief > :first-child, .second_recipe_brief > :first-child, .third_recipe_brief > :first-child{
    margin-left: 1em;
}

.first_recipe_content, .second_recipe_content, .third_recipe_content{
    grid-column: 1 / span 2;
    text-align: left;
    margin-left: 1em;
    line-height: 1.4em;
}

.first_recipe_content h3, .second_recipe_content h3, .third_recipe_content h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

.first_recipe_content li, .second_recipe_content li, .third_recipe_content li{
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.first_recipe_image, .second_recipe_image, .third_recipe_image{
    grid-column: 3 / span 2;
    margin-right: 0em;
}

.first_recipe_image img, .second_recipe_image img, .third_recipe_image img{
    box-shadow: -0.3em 0.5em 1.5em gray;
    /* border: black 0.1em solid; */
}

.first_recipe_steps, .second_recipe_steps, .third_recipe_steps{
    grid-column: 1 / -1;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: 1em;
    line-height: 1.4em;
}

.first_recipe_steps li, .second_recipe_steps li, .third_recipe_steps li{
    margin-top: 1em;
    margin-left: 0.5em;
}

.first_recipe_steps h3, .second_recipe_steps h3, .third_recipe_steps h3{
    margin-top: 1em;
}

.first_recipe_gallery, .second_recipe_gallery, .third_recipe_gallery{
    grid-column: 1 / -1;
}

.first_recipe_gallery h3, .second_recipe_gallery h3, .third_recipe_gallery h3{
    margin-left: 1em;
}

.first_recipe_gallery img, .second_recipe_gallery img, .third_recipe_gallery img{
    width: 38%;
    box-shadow: 0.5em 0.5em 1.5em gray;
}

